.contenedor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    gap: 20px;
    height: 75px;
    width: 100%;
    padding: 0px 0px 0px 20px;
    margin-top: 10px;
}

.img-header {
    width: 50px;
   
}
